
@{
    ViewData["Title"] = "indexpage";
    Layout = "~/Views/Admin/masterpage.cshtml";
}
<style>
    :root {
        --header: #E0E0E0;
        --background: #FFFFFF;
        --Bodybackground: #FBFCFE;
        --textcolor: white;
        /*--high: #e76a3c;  red*/
        /*--high: #e76a3c;*/
        --high: #87bfe8;
        /*--Medium: #f0a025;  orange*/
        /*--Medium: #26a0fc;*/
        /*--Medium: #f58b30;*/
        --Medium: #fed45b;
        /*--Low: #f4e993;*/
        /*--Low: #febc3b;*/
        /*--Low: #fed45b;*/
        --Low:#7bdec8;
    }

    .card-Body {
        background: var(--background)
    }

    body {
        background: var(--Bodybackground) !important;
    }

    .page-wrapper {
        margin-top: 0px !important;
    }

    .vapt_header_Dashboard h3 {
        font-size: 20px !important;
        font-weight: 700;
        letter-spacing: 1.3px;
    }

    .cust_css {
        border: 1px solid rgba(223, 218, 218, 0.74);
        border-radius: 0 !important;
        background-color: var(--background);
    }

    .vapt_header_Dashboard_checkbox {
        background: var(--background);
        position: relative;
        height: 32px;
        font-size: 14px;
        font-weight: bold;
    }

    .search_btn {
        display: flex;
        justify-content: center;
        position: relative;
        background: var(--header);
        font-size: 11px;
        font-weight:600;
        height: 32px;
        float: right;
        cursor: pointer;
    }

    .checkbox-list {
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        overflow: hidden;
    }

        .checkbox-list input {
            height: 15px;
            width: 24px;
        }

        .checkbox-list li {
            display: flex;
            margin: 7px 12px;
        }

        .checkbox-list label {
            font-size: 10px;
        }

    .card_header {
        background: var(--header);
        padding: 7px 3px 4px 14px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.02rem;
    }

    .btn_footer_card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
    }

    .High {
        background: var(--high);
        cursor: pointer
    }

    .Medium {
        background: var(--Medium);
        cursor: pointer
    }

    .Low {
        background: var(--Low);
        cursor: pointer
    }

    .header_cust {
        background: var(--header);
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .title_name {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .title_number {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .title_img {
        width: 40px;
        height: 40px;
        margin-top: 12px;
    }

    .progress_parent {
        border: 1px solid lightgrey;
        padding: 5px;
        background: white;
    }

    .bttn-LOW {
        border: none;
        font-weight: 600;
        background: var(--Low);
        padding: 2px 30px 2px 30px;
    }

    .bttn-LOG {
        border: none;
        font-weight: 600;
        background: #999;
        padding: 2px 30px 2px 30px;
    }

    .bttn-medium {
        border: none;
        background: var(--Medium);
        font-weight: 600;
        padding: 2px 30px 2px 30px;
    }

    .bttn-high {
        border: none;
        font-weight: 600;
        background: var(--high);
        padding: 2px 30px 2px 30px;
    }

    .dataTable > thead {
        background: white !important
    }

    #VAPT_OPT_SCN_T01 {
        border-collapse: separate !important;
        border-spacing: 0 8px !important; /* Adjust the vertical spacing as needed */
    }

    #VAPT_OPT_SCN_T02 {
        border-collapse: separate !important;
        border-spacing: 0 8px !important;
    }

    .pagination a {
        border: none !important;
        border-radius: 50% !important;
        padding: 4px 9px 4px 9px !important
    }

    #VAPT_OPT_SCN_T02 thead th:first-child {
        width: 200px !important;
    }

    #VAPT_OPT_SCN_T02 tbody {
        text-align: center;
    }

        #VAPT_OPT_SCN_T02 tbody td:first-child {
            width: 200px !important;
            text-overflow: ellipsis;
            text-decoration: underline;
        }

    #VAPT_OPT_SCN_T01 thead th:first-child {
        width: 100px !important;
    }

    #VAPT_OPT_SCN_T01 tbody td:first-child {
        width: 100px !important;
        align-items: center !important;
        text-decoration: underline;
    }

    #Detail_container:focus {
        outline: none;
    }

    .dataTables_wrapper {
        font-size: 12px !important;
    }

    #VAPT_OPT_SCN_T03 tbody {
        vertical-align: middle;
        text-align: center;
    }

    .right_search {
        background: white;
    }

    .blur {
        opacity: 0.5
    }
</style>


<body>
    <div class="page-wrapper" style="margin-left: 225px;">
        <div class="content container-fluid">
            @*CHART_DASHBOARD_HEADER*@
            <section class="vapt_header">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-7">
                        <h3>Vulnerability Dashboard</h3>
                    </div>
                    <div class="col-12 col-md-7 col-lg-5">
                        <div class="right_search">
                            <div class="row">
                                <div class="col-sm-2 col-2 mt-1">
                                    <span class="ms-2">Severity</span>
                                </div>
                                <div class="col-sm-8 col-9">
                                    <nav>
                                        <ul class="checkbox-list list-inline m-0">
                                            <li class="checkbox-list_li"><input type="checkbox" id="high"><label for="high">HIGH</label></li>
                                            <li class="checkbox-list_li"><input type="checkbox" id="medium"><label for="medium">MEDIUM</label></li>
                                            <li class="checkbox-list_li"><input type="checkbox" id="low"><label for="low">LOW</label></li>
                                            <li class="checkbox-list_li"><input type="checkbox" id="log"><label for="log">LOG</label></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-sm-2 col-1 col-lg-2">
                                    <div class="search_btn  mt-md-0">
                                        <p class="mb-0 mt-2 tec_ps-2 pe-2">Search</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @*CHART_DASHBOARD_CONTENT*@
            <section id="First_row_Charts" class="mt-3">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="card cust_css">
                            <div class="card_header">
                                <p class="mb-0">Gross Vulnerability</p>
                            </div>
                            <div class="char_parent">
                                <div id="chart"></div>
                            </div>
                            <div class="card-footer_new d-flex" style="margin-top:42px; font-size:11px;font-weight:800;">
                                <div class="col-sm-4  col-4 col-md-4">
                                    <div class="High btn_footer_card" onclick="show();">
                                        <span id="openModalBtn">HIGH-<span>15</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-4 col-md-4">
                                    <div class="Medium btn_footer_card ">
                                        <span>MEDIUM-<span>15</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-4 col-md-4">
                                    <div class="Low btn_footer_card">
                                        <span>LOW-<span>15</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-5" id="chart_02_Op">
                        <div class="card cust_css">
                            <div class="card_header">
                                <p class="mb-0">Top 10 Summary Of Different Scan</p>
                            </div>
                            <div id="char_parent">
                                <div id="areachart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4" id="chart_03_Op">
                        <div class="card cust_css">
                            <div class="card_header">
                                <p class="mb-0">Top 10 Date Wise Vulnerability</p>
                            </div>
                            <div id="char_parent d-flex justify-content-center">
                                <div id="line-adwords"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="second_row_Charts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="card cust_css">
                                <div class="card_header">
                                    <p class="mb-0">Top 10 Vulnerability Wise Summary</p>
                                </div>
                                <div style="position: relative; width: 100%; overflow:hidden">
                                    <canvas id="myChart" width="270" height="270" style="margin-top:20px"></canvas>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5">
                            <div class="card cust_css">
                                <div class="card_header">
                                    <p class="mb-0">Top 10 Summary Of Different Scan</p>
                                </div>
                                <div>
                                    <div id="Horizontal_chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="card cust_css">
                                <div class="card_header">
                                    <p class="mb-0">Top 10 Port Wise Summary</p>
                                </div>
                                <div style="position: relative; width: 100%; overflow:hidden">
                                    <canvas id="pie_chart" width="270" height="270" style="margin-top:20px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                @*CONTENT_ALL_CHART_HIDE_SHOW_CONTENT*@
                <section id="Detail_container" style="display:none;" tabindex="0">
                    <div class="card cust_css">
                        <div class="card_header p-2">
                            <div class="row">
                                <div class="col-sm-9">
                                    <nav style="--bs-breadcrumb-divider:'';" aria-label="breadcrumb">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item" style="cursor:pointer"><p class="mb-0" onclick="NavSwitch_close();">Top 10 Summary Of Different Scan</p></li>
                                            <li class="breadcrumb-item" style="cursor:pointer" onclick="NavCardSwitch_02_close();"><p class="mb-0" id="next_bar"></p></li>
                                            <li class="breadcrumb-item col-sm-4" style="cursor:pointer"><p class="mb-0" id="next_bar_01"></p></li>
                                        </ol>
                                    </nav>

                                </div>
                                <div class="col-sm-3 d-flex justify-content-end">
                                    @*<div class="btn_new" onclick="close_container();" style="background-image:linear-gradient(rgb(226, 40, 40) 80%, rgb(189, 24, 24) 100%); border-radius:4px; padding:0px 4px 2px 4px;">

                                        </div>*@
                                    <i class="fa-solid fa-xmark fs-5" onclick="close_container();" style="color: black;"></i>
                                </div>
                            </div>

                        </div>
                        @*Top_10_Summary_Of_Different_Scan*@
                        <div class="card-Body p-3" id="nextdev_01">
                            <div class="card-header p-3" style="background:#f8f9fa">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-3  mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number" id="High_Count">02</p>
                                                        <p class="title_name">HIGH</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/Triangle.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3  mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number" id="Medium_Count">13</p>
                                                        <p class="title_name">MEDIUM</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/Circle.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3  mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number" id="Low_Count">02</p>
                                                        <p class="title_name">LOW</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/Circle_new.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3  mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number" id="Log_Count"></p>
                                                        <p class="title_name">LOG</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/right_tick_Log.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-body">
                                <div class="chart-container mt-3">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="card cust_css m-0">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 20 System Wise Summary</p>
                                                </div>
                                                <div style="position: relative;width: 100%; overflow:hidden">
                                                    <div id="chartModal_01"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-container mt-3">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="card  cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Vulnerability Wise Summary</p>
                                                </div>
                                                <div style="position: relative;width: 100%; overflow:hidden">
                                                    <div id="chartModal_02"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="card cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Date Wise Vulnerability</p>
                                                </div>
                                                <div style="position: relative;width: 100%; overflow:hidden">
                                                    <div id="chartModal_03"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        @*Severity_Wise_Vulnerability_CONTENT*@
                        <div class="card-Body p-3" id="nextdev_02" style="display:none">
                            <div class="card-header p-3" style="background:#f8f9fa">
                                <div class="row">
                                    <div class="col-sm-12  col-md-3 col-lg-2  mb-2">
                                        <label for="exampleInputEmail1" class="form-label mb-0" style="font-size: 12px">IP ADDRESS</label>
                                        <p class="" style="font-size: 16px; font-weight:600;">192.168.100.01</p>
                                    </div>
                                    <div class="col-sm-12  col-md-3 col-lg-2  mb-2">
                                        <label for="exampleInputEmail1" class="form-label mb-0" style="font-size: 12px">DEVICE NAME</label>
                                        <p class="" style="font-size: 16px; font-weight:600;">-------------------</p>
                                    </div>
                                    <div class="col-sm-12  col-md-3 col-lg-2  mb-2">
                                        <label for="exampleInputEmail1" class="form-label mb-0" style="font-size: 12px">OS NAME</label>
                                        <p class="" style="font-size: 16px; font-weight:600;">Linux</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12  col-md-6 col-lg-4  mb-2">
                                        <div class="card m-0 p-2">
                                            <div class="row">
                                                <div class="col-sm-3">New</div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">10%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  col-md-6 col-lg-4  mb-2">
                                        <div class="card m-0 p-2">
                                            <div class="row">
                                                <div class="col-sm-3">Repeat</div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">60%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  col-md-12 col-lg-4 mb-2">
                                        <div class="card m-0 p-2">
                                            <div class="row">
                                                <div class="col-sm-3">Solved</div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">92%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12  col-md-6 col-lg-3   mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number">02</p>
                                                        <p class="title_name">HIGH</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/Triangle.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  col-md-6 col-lg-3   mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number">13</p>
                                                        <p class="title_name">MEDIUM</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/Circle.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  col-md-6 col-lg-3   mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number">02</p>
                                                        <p class="title_name">LOW</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/Circle_02.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  col-md-6 col-lg-3  mt-1">
                                        <div class="card m-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 text-center">
                                                        <p class="title_number">132</p>
                                                        <p class="title_name">LOG</p>
                                                    </div>
                                                    <div class="col-sm-6 text-center">
                                                        <img class="title_img" src="~/images/right_tick_Log.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-body">
                                <div class="chart-container mt-3">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-4">
                                            <div class="card cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Scan Time Wise Summary</p>
                                                </div>
                                                <div style="position: relative;width: 100%; overflow:hidden">
                                                    <div id="Radarchat"></div>
                                                </div>
                                                <div class="card-footer_new d-flex" style="margin-top:0px; font-size:11px;font-weight:800;">
                                                    <div class="col-sm-4  col-4 col-md-4  ">
                                                        <div class="High btn_footer_card">
                                                            <span id="openModalBtn">HIGH-<span>15</span></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4  col-4 col-md-4 ">
                                                        <div class="Medium btn_footer_card ">
                                                            <span>MEDIUM-<span>15</span></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4  col-4 col-md-4">
                                                        <div class="Low btn_footer_card">
                                                            <span>LOW-<span>15</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-4">
                                            <div class="card cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Vulnerability Wise Summary</p>
                                                </div>
                                                <div style="position: relative; width: 100%; height:317px; overflow:hidden">
                                                    <canvas id="Severity_Wise_Vulnerability_chart_01" style="margin-top:20px"></canvas>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                            <div class="card cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Port Wise Summary</p>
                                                </div>
                                                <div style="position: relative; height:317px; width: 100%; overflow:hidden">
                                                    <canvas id="pie_chart_01" style="margin-top:20px"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="chart-container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Port Wise Summary</p>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row ">
                                                        <div class="table-responsive" id="VAPT_OPT_SCN_T01_Parent">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card cust_css">
                                                <div class="card_header">
                                                    <p class="mb-0">Top 10 Vulnerability Wise Summary</p>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row ">
                                                        <div class="table-responsive " id="VAPT_OPT_SCN_T02_Parent">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @*Vulnerability_Summary_CONTENT*@
                        <div class="card-Body p-3" id="nextdev_03" style="display:none">
                            <div class="card-header p-3" style="background:#f8f9fa">
                                <div class="row">
                                    <div class="col-sm-12  col-md-3 col-lg-2">
                                        <label for="exampleInputEmail1" class="form-label mb-0" style="font-size: 12px">IP ADDRESS</label>
                                        <p class="" style="font-size: 16px; font-weight:600;">192.168.100.01</p>
                                    </div>
                                    <div class="col-sm-12  col-md-3 col-lg-2 ">
                                        <label for="exampleInputEmail1" class="form-label mb-0" style="font-size: 12px">SEVERITY</label>
                                        <p class="" style="font-size: 16px; font-weight:600;">Medium</p>
                                    </div>
                                    <div class="col-sm-12  col-md-3 col-lg-2 ">
                                        <label for="exampleInputEmail1" class="form-label mb-0" style="font-size: 12px">SCAN TIME</label>
                                        <p class="" style="font-size: 16px; font-weight:600;">28-04-2024</p>
                                    </div>
                                </div>
                            </div>

                            <div class="chart-container mt-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card cust_css">
                                            <div class="card_header">
                                                <p class="mb-0">Vulnerability Wise Summary</p>
                                            </div>
                                            <div class="p-2">
                                                <div class="row ">
                                                    <div class="table-responsive mt-2" id="VAPT_OPT_SCN_T03_Parent">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</body>
<script>
    // Function to animate the counting effect
    function animateCounting(element, target, duration) {
        let start = 0;
        const step = (timestamp) => {
            if (!start) start = timestamp;
            const progress = Math.min((timestamp - start) / duration, 1);
            element.textContent = Math.floor(progress * target);
            if (progress < 1) {
                requestAnimationFrame(step);
            }
        };
        requestAnimationFrame(step);
    }
    function animation_count(){
        const highNumberElement = document.getElementById('High_Count');
        const mediumNumberElement = document.getElementById('Medium_Count');
        const lowNumberElement = document.getElementById('Low_Count');
        const logNumberElement = document.getElementById('Log_Count');
        animateCounting(highNumberElement, 12, 3000);
        animateCounting(mediumNumberElement, 05, 3000);
        animateCounting(lowNumberElement, 35, 3000); 
        animateCounting(logNumberElement, 136, 3000); 
    }
</script>
<script>

    //=============tabel scripts========================//
    function getTable() {
        const jsonData = `{"data": [{"Scan Time":"01-02-2023","High": "","Medium":"","Low": "","Log":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" },{"Scan Time":"01-02-2023","HIGH": "","MEDIUM":"","LOW": "","LOG":"" }]}`;

        var tbdata = JSON.parse(jsonData).data;
        var disArry = [];
        // if true
        //modifiedTable('VAPT_OPT_SCN_T01_Parent', 'VAPT_OPT_SCN_T01', tbdata, disArry, 3, true);
        //other
        modifiedTable('VAPT_OPT_SCN_T01_Parent', 'VAPT_OPT_SCN_T01', tbdata, disArry, 3, false);
        customTable_01(disArry, 4, 'VAPT_OPT_SCN_T01');
    };
    function customTable_01(dtHide, pgLength, chid) {
        const tablName = document.getElementById(chid);
        $(tablName).DataTable({
            searching: false,
            paging: true,
            pageLength: 10,

            "aoColumnDefs": [
                { "bSearchable": false, "bVisible": false, "aTargets": dtHide },
                //{ "bVisible": false, "aTargets": [3] }
                {
                    "targets": 1, "render": function (data, type, row) {
                        var detailsview = '<button type="button" class="bttn-high">01</button>';
                        return detailsview
                    }
                },
                {
                    "targets": 2, "render": function (data, type, row) {
                        var detailsview = '<button  type="button" class="bttn-medium">02</button>';
                        return detailsview
                    }
                },
                {
                    "targets": 3, "render": function (data, type, row) {
                        var detailsview = '<button type="button" class="bttn-LOW">03</button>';
                        return detailsview
                    }
                },
                {
                    "targets": 4, "render": function (data, type, row) {
                        var detailsview = '<button type="button" class="bttn-LOG">02</button>';
                        return detailsview
                    }
                }
            ],
        });
    }


    function getTable_01() {
        const jsonData = `{"data": [{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"},{"Vulnerability Name":"SSL/TLS: Certificate Signed Using A Weak Signature Algorithm","Severity": "","Counts":"01"}]}`;

        var tbdata = JSON.parse(jsonData).data;
        var disArry = [];
        // if true
        //modifiedTable('VAPT_OPT_SCN_T01_Parent', 'VAPT_OPT_SCN_T01', tbdata, disArry, 3, true);
        //other
        modifiedTable('VAPT_OPT_SCN_T02_Parent', 'VAPT_OPT_SCN_T02', tbdata, disArry, 3, false);
        customTable_02(disArry, 4, 'VAPT_OPT_SCN_T02');
    };
    function customTable_02(dtHide, pgLength, chid) {
        const tablName = document.getElementById(chid);
        $(tablName).DataTable({
            searching: false,
            paging: true,
            pageLength: 10,

            "aoColumnDefs": [
                { "bSearchable": false, "bVisible": false, "aTargets": dtHide },
                //{ "bVisible": false, "aTargets": [3] }

                {
                    "targets": 1, "render": function (data, type, row) {
                        var detailsview = '<button class="bttn-LOW">Low</button>';
                        return detailsview
                    }
                },

            ],
        });
    }

    function getTable_2() {
        const jsonData = `{"data": [{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"},{"IP Address":"192.168.100.234","Vulnerability Name":"SSH Weak MAC Algorithms Supported","Port":"22/tcp (IANA: ssh)","Family Name":"General","Severity":"","Description":"The following input fields where identified","Creation Time":"04/03/2020 14:15:34"}]}`;

        var tbdata = JSON.parse(jsonData).data;
        var disArry = [];
        // if true
        //modifiedTable('VAPT_OPT_SCN_T01_Parent', 'VAPT_OPT_SCN_T01', tbdata, disArry, 3, true);
        //other
        modifiedTable('VAPT_OPT_SCN_T03_Parent', 'VAPT_OPT_SCN_T03', tbdata, disArry, 3, false);
        customTable_2(disArry, 4, 'VAPT_OPT_SCN_T03');
    };
    function customTable_2(dtHide, pgLength, chid) {
        const tablName = document.getElementById(chid);
        $(tablName).DataTable({
            searching: false,
            paging: true,
            pageLength: 10,

            "aoColumnDefs": [
                { "bSearchable": false, "bVisible": false, "aTargets": dtHide },
                //{ "bVisible": false, "aTargets": [3] }

                {
                    "targets": 4, "render": function (data, type, row) {
                        var detailsview = '<button type="button" class="bttn-LOW">Low</button>';
                        return detailsview
                    }
                },

            ],
        });
    }
    //=============tabel scripts End========================//
    //=============HIde And Show  and function call logics========================//
    let button = document.getElementById("next_bar");
    let button_01 = document.getElementById("next_bar_01");
    function SeverityWiseVulnerability() {
        $('#nextdev_01').hide();
        $('#nextdev_02').show();
        $('#nextdev_03').hide();
        document.getElementById('next_bar').innerHTML = ">>    Severity Wise Vulnerability"
        button.style.color = "#1c1cc7";


    }
    function NavSwitch_close() {
        $('#nextdev_01').show();
        $('#nextdev_02').hide();
        $('#nextdev_03').hide();
        document.getElementById('next_bar').innerHTML = ""
        document.getElementById('next_bar_01').innerHTML = ""
        button.style.color = "";
    }

    function VulnerabilitySummary() {
        $('#nextdev_01').hide();
        $('#nextdev_02').hide();
        $('#nextdev_03').show();
        document.getElementById('next_bar_01').innerHTML = ">>    Vulnerability Summary"
        button.style.color = "black";
        button_01.style.color = "#1c1cc7";
    }
    function NavCardSwitch_02_close() {
        $('#nextdev_01').hide();
        $('#nextdev_02').show();
        $('#nextdev_03').hide();
        document.getElementById('next_bar_01').innerHTML = ""
        button.style.color = "#1c1cc7";
        button_01.style.color = "";
    }
    function blurdiv() {
        var myDiv = document.getElementById('chart_02_Op');
        var myDiv_02 = document.getElementById('chart_03_Op');
        myDiv.classList.add('blur');
        myDiv_02.classList.add('blur');
    }
    function blurNondiv() {
        var myDiv = document.getElementById('chart_02_Op');
        var myDiv_02 = document.getElementById('chart_03_Op');
        myDiv.classList.remove('blur');
        myDiv_02.classList.remove('blur');
    }
    function show() {
        blurdiv()
        $('#second_row_Charts').hide();
        area_polar();
        RadarChat();
        piechart_01();
        animation_count();
        $('#Detail_container').show();
        setTimeout(() => {
            $('#Detail_container').focus();
        }, 200)

    }
    function close_container() {
        blurNondiv()
        $('#Detail_container').hide();
        $('#second_row_Charts').show();
        Mainpage_area_polar();
        chart_05();
        piechart();

    }
    //=============HIde And Show  and function call logics Ends========================//
</script>
<script>
    $(document).ready(function () {
        chart_01(); chart_02(); chart_03(); Mainpage_area_polar(); chart_05(); piechart(); modalchart_01();
        modalchart_02();
        modalchart_03();
        getTable(); getTable_01(); getTable_2();

    })

    //MAIN_PAGE_PIECHART_SECOND_ROW_LAST_CHILD
    function piechart() {
        return new Promise((resolve, reject) => {
        var jsonString = '{"labels":["43/1 (ANA: hitps)","23tcp (ANA: tenet)","3128/1cp (ANA: ndl-aas)","8443/1 (ANA: posync-hitps)","oenerallCPE-T","generalicp","22/tcp (ANA: ssn)"],"datasets":[{"data":[30,20,8,5,9,10,5]}]}';
            renderDoughnutChart('pie_chart', jsonString);
            resolve("chart..pie")
        })
    }
    piechart().then((res) => console.log(res)).catch((err) => console.log("pie_chart"))
    //MAIN_PAGE_PIECHART_SECOND_ROW_SECOND_CHILD
    function Mainpage_area_polar() {
        return new Promise((resolve, reject) => {
        const jsonString = '{"labels":["Services","HTTP version","HTTP Enumeration","Sophos /NGFW.....","SSUTLS: Subject","SSL/TLS: Long Vaid..."],"datasets":[{"label":"My First Dataset","data":[11,16,7,3,14,12],"backgroundColor":["rgba(0, 146, 206, 1)","rgba(133, 202, 231, 1)","rgba(190, 207, 246, 1)","rgba(133, 172, 211, 1)","rgba(93, 134, 240, 1)","rgba(50, 118, 181, 1)"]}]}';

            chart_polar('myChart', jsonString);
            resolve("chart..Main_area_polar")
        })
    }
    Mainpage_area_polar().then((res) => console.log(res)).catch((err) => console.log("Main_area_polar"))



    function area_polar() {
        return new Promise((resolve, reject) => {
        const jsonString = '{"labels":["Services","HTTP version","HTTP Enumeration","Sophos /NGFW.....","SSUTLS: Subject","SSL/TLS: Long Vaid..."],"datasets":[{"label":"My First Dataset","data":[11,16,7,3,14,12],"backgroundColor":["rgba(0, 146, 206, 1)","rgba(133, 202, 231, 1)","rgba(190, 207, 246, 1)","rgba(133, 172, 211, 1)","rgba(93, 134, 240, 1)","rgba(50, 118, 181, 1)"]}]}';

            chart_polar('Severity_Wise_Vulnerability_chart_01', jsonString);
            resolve("chart..piechart_01")
        })
    } area_polar
    area_polar().then((res) => console.log(res)).catch((err) => console.log("area_polar"))

    function piechart_01() {
        return new Promise((resolve, reject) => {
        var jsonString = '{"labels":["43/1 (ANA: hitps)","23tcp (ANA: tenet)","3128/1cp (ANA: ndl-aas)","8443/1 (ANA: posync-hitps)","oenerallCPE-T","generalicp","22/tcp (ANA: ssn)"],"datasets":[{"data":[30,20,10,25,15,30,20]}]}';
            renderDoughnutChart('pie_chart_01', jsonString);
            resolve("chart..piechart_01")
        })
    } piechart_01().then((res) => console.log(res)).catch((err) => console.log("piechart_01"))

    function RadarChat() {
        return new Promise((resolve, reject) => {
        var jsonString = '{"categories": ["2011", "2012", "2013", "2014", "2015", "2016"], "series": [{"name": "Low", "data": [80, 50, 30, 40, 100, 20]}, {"name": "Medium", "data": [20, 30, 40, 80, 20, 80]}, {"name": "High", "data": [44, 76, 78, 13, 43, 10]}]}';
            renderRadarChart('#Radarchat', jsonString);
            resolve("chart..Rader_chart")
        })
    }
    RadarChat().then((res) => console.log(res)).catch((err) => console.log("Rader_chart"))

    //FOR MODAL_FIRST_STEP_THREE_BAR_CHARTS
    function modalchart_01() {
        var jsonString = '[{"categories":["192.168.100.01","192.168.100.02","192.168.100.03","192.168.100.04","192.168.100.05","192.168.100.06","192.168.100.07","192.168.100.08","192.168.100.09","192.168.100.10","192.168.100.11","192.168.100.12","192.168.100.13","192.168.100.14","192.168.100.15","192.168.100.16","192.168.100.17","192.168.100.18","192.168.100.19","192.168.100.20"],"Low":{"data":[14,25,21,17,11,17,15,14,25,21,17,12,13,11,12,13,11,19,22,45]},"Medium":{"data":[13,14,25,21,17,12,13,11,19,22,45,23,20,8,13,27,33,12,7,64]},"High":{"data":[11,17,15,14,25,21,17,12,13,11,19,22,45,15,21,14,15,13,8,17]}}]';

        chartModel_01('#chartModal_01', jsonString);
    }
    function modalchart_02() {
        var jsonString = '[{"categories":["192.168.100.14","192.168.100.15","192.168.100.16","192.168.100.17","192.168.100.18","192.168.100.19","192.168.100.20","192.168.100.21","192.168.100.22","192.168.100.23"],"Low":{"data":[14,25,21,17,11,17,15,14,25,21]},"Medium":{"data":[13,14,25,21,17,12,13,11,19,22]},"High":{"data":[11,17,15,14,25,21,17,12,13,11]}}]';

        chartModel_01('#chartModal_02', jsonString);
    }
    function modalchart_03() {
        var jsonString = '[{"categories":["192.168.100.14","192.168.100.15","192.168.100.16","192.168.100.17","192.168.100.18","192.168.100.19","192.168.100.20","192.168.100.21","192.168.100.22","192.168.100.23"],"Low":{"data":[14,25,21,17,11,17,15,14,25,21]},"Medium":{"data":[13,14,25,21,17,12,13,11,19,22]},"High":{"data":[11,17,15,14,25,21,17,12,13,11]}}]';

        chartModel_01('#chartModal_03', jsonString);
    }
</script>